<div class="field columns p-2 is-centered ">
    <h2 class="block subtitle">Create New Post</h2>
    <form class="is-half mx-6  my-3 p-3 has-background-light column is-centered create-blog-form">

        <div class="text-center">
            <h2>{{title}}</h2>
            <p>{{contents}}</p>
            <p>Created by {{user.username}} on {{format_date date_created}}</p>
            <p>
                <span for="img" aria-label="review">âœ</span>
            <p>{{comments}}</p>
            </p>
            <p>
                {{!-- <button class="button is-primary my-3">Edit</button> --}}
            <div class="block delete-button">
                <button id="delete-button" data-id="{{post.id}}" type="submit"
                    class="button is-primary my-3">Delete</button>

            </div>
            <div class="block update-button">
                <button id="update-button" data-id="{{post.id}}" type="submit" class="button is-primary my-3">Update
                    Post</button>

            </div>
            </p>
        </div>

    </form>
</div>